blinker==1.4
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.0.3
Flask-Dropzone==1.5.3
Flask-HTTPAuth==3.3.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
Flask-WTF==0.14.2
httpie==1.0.2
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pygments==2.4.2
PyJWT==1.7.1
pymodm==0.4.1
pymongo==3.8.0
python-dotenv==0.10.3
requests==2.22.0
typing==3.7.4
urllib3==1.25.3
Werkzeug==0.15.4
WTForms==2.2.1
